---
const personalImageAlt = "Alvaro Pedrozo";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 dark:[&>p>strong]:text-red-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy <strong>Desarrollador Front-End</strong> especializado en <strong
        >React JS</strong
      >, con experiencia en <strong>desarrollo full stack</strong>. Actualmente
      estudio <strong>Ingeniería de Sistemas</strong> en la Universidad de la Costa
      y me apasiona crear aplicaciones <strong>escalables</strong> y <strong
        >mantenibles</strong
      >. A lo largo de mi trayectoria, he trabajado con <strong
        >tecnologías backend</strong
      > (Python, PHP) y <strong>bases de datos</strong>, garantizando una
      integración fluida entre el <strong>frontend</strong> y el <strong
        >backend</strong
      >.
    </p>

    <p>
      He desarrollado desde <strong
        >interfaces dinámicas</strong
      > con React hasta <strong>visualizaciones de rutas</strong> con Leaflet, así
      como <strong>herramientas de simulación</strong> con Plotly y Python. Además,
      estoy profundizando en <strong>prácticas DevOps</strong> y <strong
        >cloud computing</strong
      > para optimizar flujos de desarrollo.
    </p>

    <p>
      Soy una persona en <strong>constante aprendizaje</strong>, siempre
      buscando <strong>mejorar mis habilidades</strong>, <strong
        >compartir conocimientos</strong
      > y participar en <strong>proyectos innovadores</strong> que generen impacto.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me2.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>